{% extends 'nurse/nurse_lay.html' %}

{% load static %}
{% block content %}



<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <div class="main-body">
            <div class="page-wrapper">

                <div class="page-body">
                    <div class="row">
                        <!-- card1 start -->
                        <div class="col-md-6 col-xl-3">
                            <div class="card widget-card-1">
                                <div class="card-block-small">
                                    <i class="icofont icofont-pie-chart bg-c-blue card1-icon"></i>
                                    <span class="text-c-blue f-w-600">Total Patients</span>
                                    <h4>{{ total_patients }}</h4>
                                    <div>
                                        <span class="f-left m-t-10 text-muted">
                                            <i class="text-c-blue f-16 icofont icofont-user m-r-10"></i>Assigned in Wards
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-md-6 col-xl-3">
                            <div class="card widget-card-1">
                                <div class="card-block-small">
                                    <i class="icofont icofont-ui-home bg-c-pink card1-icon"></i>
                                    <span class="text-c-pink f-w-600">Avg. Oxygen Level</span>
                                    <h4>{{ average_oxygen }}</h4>
                                    <div>
                                        <span class="f-left m-t-10 text-muted">
                                            <i class="text-c-pink f-16 icofont icofont-heart-beat m-r-10"></i>Across all patients
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-md-6 col-xl-3">
                            <div class="card widget-card-1">
                                <div class="card-block-small">
                                    <i class="icofont icofont-warning-alt bg-c-green card1-icon"></i>
                                    <span class="text-c-green f-w-600">Discharged Patients</span>
                                    <h4>{{ discharged_patients }}</h4>
                                    <div>
                                        <span class="f-left m-t-10 text-muted">
                                            <i class="text-c-green f-16 icofont icofont-tag m-r-10"></i>Successfully discharged
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-md-6 col-xl-3">
                            <div class="card widget-card-1">
                                <div class="card-block-small">
                                    <i class="icofont icofont-social-twitter bg-c-yellow card1-icon"></i>
                                    <span class="text-c-yellow f-w-600">Vitals Recorded</span>
                                    <h4>{{ patients_with_vitals }}</h4>
                                    <div>
                                        <span class="f-left m-t-10 text-muted">
                                            <i class="text-c-yellow f-16 icofont icofont-refresh m-r-10"></i>Updated vitals data
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        


                        <!-- Email Sent End -->
                        <!-- Data widget start -->
                        <div class="col-md-12 col-xl-6">
                            <div class="card project-task">
                                <div class="card-header">
                                    <div class="card-header-left ">
                                        <h5>Patient Admissions</h5>
                                    </div>
                                    <div class="card-header-right">
                                        <ul class="list-unstyled card-option">
                                            <li><i class="icofont icofont-simple-left"></i></li>
                                            <li><i class="icofont icofont-maximize full-card"></i></li>
                                            <li><i class="icofont icofont-minus minimize-card"></i></li>
                                            <li><i class="icofont icofont-refresh reload-card"></i></li>
                                            <li><i class="icofont icofont-error close-card"></i></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="card-block p-b-10">
                                    <div class="table-responsive">
                                        <table class="table table-hover">
                                            <thead>
                                                <tr>
                                                    <th>Patient Name</th>
                                                    <th>Assigned Nurse</th>
                                                    <th>Admission Date</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <div class="task-contain">
                                                            <h6 class="bg-c-blue d-inline-block text-center">D</h6>
                                                            <p class="d-inline-block m-l-20">Donex</p>
                                                        </div>
                                                    </td>
                                                    <td>Mrs. Sandra (Active)</td>
                                                    <td>March 31, 2025</td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <div class="task-contain">
                                                            <h6 class="bg-c-pink d-inline-block text-center">R</h6>
                                                            <p class="d-inline-block m-l-20">Resmi</p>
                                                        </div>
                                                    </td>
                                                    <td>Mrs. Sandra (Active)</td>
                                                    <td>March 27, 2025</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-md-12 col-xl-6">
                            <div class="card add-task-card">
                                <div class="card-header">
                                    <div class="card-header-left">
                                        <h5>Patient Vitals To-Do List</h5>
                                    </div>
                                    <div class="card-header-right">
                                        
                                        <a href="{% url 'list_documentation_patient' %}" class="btn btn-card btn-primary">View Vitals</a>
                                    </div>
                                </div>
                                <div class="card-block">
                                    <!-- Patient 1 -->
                                    <div class="to-do-list">
                                        <div class="checkbox-fade fade-in-primary d-block">
                                            <label class="check-task d-block">
                                                <input type="checkbox" value="">
                                                <span class="cr">
                                                    <i class="cr-icon icofont icofont-ui-check txt-default"></i>
                                                </span>
                                                <span>
                                                    <h6>Monitor Oxygen Level - Donex 
                                                        <span class="label bg-c-green m-l-10 f-10">Urgent</span>
                                                    </h6>
                                                </span>
                                                <p class="text-muted m-l-40">Last recorded: 91% on March 31, 2025</p>
                                            </label>
                                        </div>
                                    </div>
                        
                                    <!-- Patient 2 -->
                                    <div class="to-do-list">
                                        <div class="checkbox-fade fade-in-primary d-block">
                                            <label class="check-task d-block">
                                                <input type="checkbox" value="">
                                                <span class="cr">
                                                    <i class="cr-icon icofont icofont-ui-check txt-default"></i>
                                                </span>
                                                <span>
                                                    <h6>Check Heart Rate - Resmi</h6>
                                                </span>
                                                <p class="text-muted m-l-40">Last recorded: 78 bpm on March 27, 2025</p>
                                            </label>
                                        </div>
                                    </div>
                        
                                    <!-- Patient 3 -->
                                    <div class="to-do-list">
                                        <div class="checkbox-fade fade-in-primary d-block">
                                            <label class="check-task d-block">
                                                <input type="checkbox" value="">
                                                <span class="cr">
                                                    <i class="cr-icon icofont icofont-ui-check txt-default"></i>
                                                </span>
                                               
                                                <span>
                                                    <h6>Monitor Oxygen Level - Donex 
                                                        <span class="label bg-c-pink m-l-10">Review</span>
                                                    </h6>
                                                </span>
                                                
                                                <p class="text-muted m-l-40">Last recorded: 120/80 mmHg</p>
                                            </label>
                                        </div>
                                    </div>
                        
                                    <!-- Patient 4 -->
                                    <div class="to-do-list">
                                        <div class="checkbox-fade fade-in-primary d-block">
                                            <label class="check-task d-block">
                                                <input type="checkbox" value="">
                                                <span class="cr">
                                                    <i class="cr-icon icofont icofont-ui-check txt-default"></i>
                                                </span>
                                                <span>
                                                    <h6>Discharge Review - Resmi</h6>
                                                </span>
                                                <p class="text-muted m-l-40">Planned discharge date: March 29, 2025</p>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                            <!-- Data widget End -->
                            
                        </div>
                    </div>
                </div>

                <div id="styleSelector">

                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}


